

  <!-- <app-user-profile *ngFor="let gdata of udata" [name]="gdata.name" [desig]="gdata.desig" [salary]="gdata.salary"/> -->
 
  <!-- <div>
    <app-user-profile (myEvent)="receiveData($event)" *ngFor="let fdata of udata" [name]="fdata.name" [desig]="fdata.desig" [salary]="fdata.salary"/>
  </div> -->
 <!--  <app-user-profile (myEvent)="receiveData($event)" name="Nishant Mane" desig="Sr.Engineer" salary=445000/>

   <app-joke></app-joke> -->


   
   <!-- <app-user-profile (myEvent)="receiveData($event)" *ngFor="let fdata of udata" [name]="fdata.name" [desig]="fdata.desig" [salary]="fdata.salary"/> -->
   <!-- State management related -->
 <!--   <app-a></app-a>
   <app-b1></app-b1>  -->
   <app-widget></app-widget>
 

<router-outlet />
